.header {
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    background-color: #48036F;
}

.headerWrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 10px;
    text-align: center;
    width: 250px;
    border: 2px solid floralwhite;
    border-radius: 3px;
}

h1:hover {
    color: #ff0066;
    border: 2px solid #ff0066;
}

.header button {
    background-color: #48036F;
    color: floralwhite;
    border: 2px solid floralwhite;
    border-radius: 3px;
    padding: 5px;
    font-weight: bolder;
    margin-left: 5px;
}

.header button:hover {
    color: #ff0066;
    border: 2px solid #ff0066;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: floralwhite;
    font-weight: bolder;
}

.header a:hover {
    color: #ff0066;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .header h1 {
        font-size: large;
        width: 150px;
    }
    .header {
        justify-content: center;
    }
}