.header {
    grid-area: header;
    background-color: royalblue;
    border: 2px solid lightslategray;
}

.header img {
    width: 40px;
}

.loginBlock {
    margin-top: -2%;
    float: right;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}
.loginBlock a:hover {
    color: lightgreen;
}