.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    margin: 10px;
    text-align: center;
    width: 250px;
    border: 1px solid floralwhite;
    border-radius: 3px;
}

.header button {
    background-color: #003366;
    color: floralwhite;
    border: 1px solid floralwhite;
}

.header a {
    background-color: #003366;
    color: floralwhite;
    border: 1px solid floralwhite;
    text-decoration: none;
}

.header button:hover {
    background-color: #ff0066;
    cursor: pointer;
}