.nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.nav a {
    color: floralwhite;
    text-decoration: none;
    margin: 0 auto;
}
.nav a.active {
    color: #ff0066;
}

.nav a:hover {
    color: #ff0066;
}
