.nav {
    grid-area: nav;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.nav a {
    color: floralwhite;
    text-decoration: none;
    margin: 0 auto;
}
.nav a.active {
    color: #ff0066;
}

.nav a:hover {
    color: #ff0066;
}