.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    background-color: #7109AA;
}

.dialogs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dialogs button {
    background-color: #003366;
    color: floralwhite;
    border: 2px solid floralwhite;
    border-radius: 3px;
}

.dialogs button:hover {
    color: #ff0066;
    border: 2px solid #ff0066;
}

.dialogsItems {
    padding: 20px;
}

.item {
    text-decoration: none;
}

.messages {
    padding: 20px;
}

.message {

}