.dialogs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    border: 2px solid floralwhite;
    border-radius: 3px;
}

.dialogs button {
    background-color: #003366;
    color: floralwhite;
    border: 2px solid floralwhite;
    border-radius: 3px;
}

.dialogs button:hover {
    color: #ff0066;
    border: 2px solid #ff0066;
}

.dialogsItems {
    padding: 20px;
}

.item {
    text-decoration: none;
}

.messages {
    padding: 20px;
}

.message {

}