.app-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #003366 0%, #ff0066 100%);
    color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}
.app-wrapper footer {
    background-color: #003366;
    text-align: center;
    height: 30px;
    padding: 10px;
}


