.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'header header'
    'nav content'
    'footer footer';
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    background: linear-gradient(to bottom, #003366 0%, #ff0066 100%);
    color: floralwhite;
}

.app-wrapper-content {
    grid-area: content;
}

